body
{

    margin: 0px;
    padding: 0px;
}

#application
{
    display:grid;

    grid-template-rows: auto auto auto;
    grid-gap: 32px;


}

$logo-min-size: 80px;
$logo-max-size: 160px;

.split-container
{
  display: grid;
  width: 100%;
  height: 100%;
  min-height: 200px;
  grid-template-columns: 1fr 1fr;
}

main
{
    display: block;
    min-height: 800px;

}

.background
{
  /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#2c93c6+0,11537c+67,000000+100 */
  background: #2c93c6; /* Old browsers */
  background: -moz-linear-gradient(top,  #2c93c6 0%, #11537c 67%, #000000 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top,  #2c93c6 0%,#11537c 67%,#000000 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom,  #2c93c6 0%,#11537c 67%,#000000 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2c93c6', endColorstr='#000000',GradientType=0 ); /* IE6-9 */
}

h2
{
  color: white;
  font-family: 'Open Sans';
  font-size: 32px;
  text-align: center;
  
  margin-bottom: 64px;
}

//
@import './urls.scss';
@import './variables.scss';

/* Template Area */
@import './templates/containment.scss';
@import './templates/defined.scss';
@import './templates/page.scss';

/* Page Area */
@import './page/header.scss';
@import './page/footer.scss';
@import './page/navigation.scss';

/* Site Area */
@import './site/index.scss';
@import './site/game.scss';
@import './site/news.scss';

/* Custom Area */
