$page-logo: 'https://i.imgur.com/dwNA9Y3.png';

$sponsor-macron: 'https://i.imgur.com/Tkj4Ado.jpg';
$sponsor-stofa: 'https://i.imgur.com/hbLI2xT.png';
$sponsor-bakkeskolen: 'https://i.imgur.com/IwwpFfF.jpg';
$sponsor-dgi: 'https://i.imgur.com/IwwpFfF.jpg';
$sponsor-kvaglund: 'https://i.imgur.com/wFwKCpC.png';

$background-image-1: 'https://i.imgur.com/4E92KGx.png';
$background-image-2: 'https://i.imgur.com/csZm674.jpg';
