@media only screen and (max-width:1640px)
{
    .page-boundary-grid
    {
        width: 100%;
    }
}

@media only screen and (max-width: 1256px) 
{

}



@media only screen and (max-width: 1080px) 
{
    .boundary
    {
        width: 100%;

    }

    .header-desktop nav div
    {
        display: none;
        
    }

    .header-desktop nav
    {
        grid-template-columns: 1fr 1fr;
        grid-gap: 16px;
    }

    .header-desktop nav ul
    {
        justify-content: space-evenly;

    }

    .sponsors
    {
        
    }

    .sponsors .container
    {
        

    }
}