#train
{

}

.boundary
{
  width: 1080px;

  margin-left: auto;
  margin-right: auto;
}


.cards
{
  display: grid;

  grid-gap: $container-index-train-image-gap;
  grid-template-columns: 1fr 1fr 1fr;
}

.cards p
{
  margin: 0px;
  padding: 0px;
  margin-top: 8px;
  margin-bottom: 8px;
}

.cards .game-card-image img
{
  width: 100%;
  height: $container-index-train-image-height;
  object-fit: cover;
}

.game-card-content
{
  position: relative;
  width: 100%;
}

.game-card-content-position
{
  background-color: rgba(44, 147, 198, 1.0);
  position: absolute;
  width: 100%;
  bottom: 0px;

}

.game-card-content-position p
{
  color: white;
  font-family: 'open sans';
  text-align: center;
}

.game-card-content-position a
{
  color: white;
  text-transform: uppercase;
}

.index-about-us
{
  color: white;
}

.index-about-us h2
{
  color: white;
  font-family: 'Open Sans';
}

.index-about-us p
{
  width: 80%;

  margin-right: auto;
  margin-left: auto;
  margin-bottom: 32px;

  font-family: 'Roboto';
}

.container-news
{
  width: 100%;
  display: grid;
  grid-gap: 64px;
  grid-template-columns: 1fr 1fr;

}


.container-news .container
{
  background-color: white;

  width: 100%;
}

.article
{
  height: 300px;
  position: relative;
}

.article img 
{
  position: absolute;
  width: 100%;
  height: 300px;
  object-fit: cover;

}

.article-header
{
    width: 100%;
}

.article-header p
{
  margin: 0px;
  margin-top:4px;

  font-family: 'Open Sans';
  color: white;
}

.article-header p:first-child
{
  margin-top:4px;
}

.article-header p:last-child
{
  margin-bottom: 4px;
}

.article-more
{
  font-size: 12px;
  text-align: center;
}

.article-title
{
  font-size: 16px;
  text-align: center;
}

.index-about-us
{
  padding-top: 32px;
  padding-bottom: 32px;
}

.article-header-position
{

  width: 100%;

  background-color: rgba(44, 147, 198, 1.0);
  position: absolute;
  bottom: 0px;


}

#front
{
  width: 100%;

  height: 900px;
  position: relative;

}

#front-canvas
{
  background-color: black;
  position: absolute;
  top: -32px;

  width: 100%;
  height: 900px;
}

#front-canvas-space
{
  width: 100%;
  height: 900px;

  position: relative;
  background-color: black;
}


#front-canvas-space .front-canvas-container
{
  position: absolute;
  width: 50%;
  height: 100%;
}

#front-canvas-space .front-canvas-container img
{

  opacity: 0.7;
  filter: alpha(opacity=70); /* For IE8 and earlier */

  width: 100%;
  height: 100%;

  object-fit:cover;
}

.front-canvas-container-info-position
{
}

.front-canvas-container-info
{

    bottom: 0px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 800px;
    height: 200px;

}

.front-canvas-container-info-position p
{
  font-family: 'open sans';

  text-align: center;

  font-size: 42px;
  font-weight: bold;

  text-transform: capitalize;

  color: white;
  z-index: 3;


}

.top
{
  z-index: 2;
}

.bottom
{
  z-index: 1;
}


#front-canvas-space .front-canvas-container:first-child
{
  left: 0px;

}

#front-canvas-space .front-canvas-container:last-child
{
  right: 0px;


}

.game-card-content
{

}

.cards .game-card
{
  display: inline-grid;
}
