.site-news-feed
{
    grid-column: span 2;   
    background-color: #052B43;
}

.site-news-feed img
{
    width: 100%;
    height: 330px;
    object-fit: cover;
       
}


.site-news-feed-content p
{
    text-align: center;
    color: white;
    font-family: 'open sans';
    margin: 0px;

}
