.site-parents-section .page-grid-1 p
{
    color: white;
    font-family: 'roboto';
    grid-column: span 8;

    margin: 0px;

}

.site-parents-section .page-grid-1 img
{
    width: 100%;
    grid-column: span 4;
}