
footer
{
    display: block;

    min-height: 100px;

}

.footer-overlay
{
  background-color: $header-and-footer-primary-color;
}

.containers-3-elements
{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 32px;

  width: 100%;
}

.containers-3-elements .container
{
  display: inline-grid;
}

.container
{

}

.misc
{
  margin-top: 8px;
  padding-bottom: 8px;

}

.footer-container-links ul
{
  padding: 0px;
  margin: 0px;

}


.footer-follow-page
{
  display: flex;
  margin: 0px;
  padding: 0px;
  justify-content: center;

}

.footer-follow-page li
{
  list-style: none;
  margin-right: 32px;
  margin-left: 32px;

}

.footer-container-links p
{
  color: white;

  font-family: 'open sans';
}

.footer-container-links a
{
  color: white;

  text-decoration: none;
  font-family: 'open sans';
}

.footer-container-links li
{
  list-style: none;

}

.footer-container-links .footer-container-link
{
  margin-top: 16px;
  margin-bottom: 16px;
}

.footer-container-links .footer-container-link:first-child
{
    margin-top: 8px;
}

.footer-container-links .footer-container-link:last-child
{
      margin-bottom : 8px;
}

.footer-container-link a
{
  font-size: 14px;
}

.footer-contact-logo
{
  width: 200px;
  height: 200px;

  background-image: url($page-logo);
  background-repeat: no-repeat;
  background-size: contain;
  margin-left: auto;
  margin-right: auto;
}

.footer-social-media
{
  width: 25px;
  height: 25px;
}

.footer-social-media i
{
  font-size: 25px;
  text-align: center;
}

.footer-follow
{
  display: flex;

}

.footer-follow li
{
  list-style: none;
  margin-left: 12px;
  margin-right: 12px;
}


.footer-follow li:first-child
{
  margin-left: 0px;
}


.footer-follow li:last-child
{
  margin-right: 0px;
}

.sponsor
{
  background-color: rgba(255, 255, 255, 1.0);
  display: flex;
  justify-content: space-between;

  padding-bottom: 32px;
}

.sponsor .container
{
  display: inline-flex;
  margin-left: 16px;
  margin-right: 16px;

}

.sponsor .container img
{
  width: 200px;
  object-fit:contain;

}

.footer-social
{
  margin-top: 12px;
  margin-bottom: 12px;
}


.footer-social a
{
  color: white;

}


.misc p
{
  margin: 0px;
  font-size: 12px;
  color: white;
  font-family: 'open sans';
}

.misc ul
{
  display: flex;

  margin: 0px;
  padding: 0px;
  justify-content: center;
}

.misc ul li
{
  list-style: none;
  margin: 0px;
  margin-left: 8px;
  margin-right: 8px;
}

.misc a
{

  font-size: 12px;
  color: white;
  text-decoration: none;
  font-family: 'open sans';
}
