
.header-logo
{
  height: $logo-max-size;
  width: $logo-max-size;

  background-repeat: no-repeat;
  background-size: cover;
  background-image: url($page-logo);

  position: absolute;

}

.header-logo-container
{

  position: relative;
  width:$logo-max-size;

  margin-left: auto;
  margin-right: auto;

}

header
{

}

.header-desktop
{
    position: fixed;
    width: 100%;

    z-index: 900;
      display: block;
      background-color: rgba(0, 0, 0, 0.85);

}

#header-logo-desktop-area
{

}

.header-placeholder
{
  width: 100%;
  height: 80px;
  background-color: black;
}

.header-logo-desktop-scrolled
 {

 left: 50%;
 transform: translate(-50%, 0%);

  height: 80px;
  width: 80px;

}

header nav ul
{
  list-style: none;

  margin: 0px;

  padding:0px;

  display: flex;
}


header nav ul:first-child
{
  justify-content: flex-end;

}

header nav ul li
{

  padding-top: 28px;
  padding-bottom: 28px;

  padding-left: 16px;
  padding-right: 16px;
}

header nav ul li:first-child
{

}

header nav ul li:last-child
{

}

.highlight
{
  background-color: #2C93C6;
}

header nav ul li a
{
      color: white;
      text-decoration: none;
      text-transform: capitalize;
      font-size: 20px;
      font-family: 'candara';
}

header nav
{
  display: grid;
  grid-gap: 32px;
  grid-template-columns: 1fr $logo-max-size 1fr;
}

header nav a
{

}
